.navbar {
    border-radius: 0;
    border: 0;
}
.menu-header {
    background: #7BB11D;
}
.navbar-default {
    background-color: #7BB11D;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
    font-weight: bold;
}
.input{
    width: 400px;
}
#slide{
    margin-bottom: 12px;
    margin-top: 10px;
}
#image_slide{
    width: 100%;
}
